.css-1uccc91-singleValue {
    color: white !important;
    font-size: 18px;
}

.areaplaceholderEmpty {
    position: absolute;
    left: 15;
    bottom: -25;
    font-size: 18;
    color: #fff;
}
.areaplaceholderEmpty::before {
        display: flex;
        content: "";
}

.areaplaceholder {
    position: absolute;
    left: 15;
    bottom: -25;
    font-size: 18;
    color: #fff;
}
.areaplaceholder::before {
    display: flex;
    content: "Please select an Area";
    animation: areaSelectFlash 4s ease-in-out infinite;
}

@keyframes areaSelectFlash
{
    0% { color: white; text-decoration: none; text-decoration-color: black; }
    50% { color: darkorange; text-decoration: underline; text-decoration-color: red; }
    100% { color: white; text-decoration: none; text-decoration-color: black; }
}